.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header_button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}